body {
  font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
}

nav {
  margin: auto;
}

nav li img {
  height: 50px;
}

li img {
  height: 30px;
}

.no-decorations {
  color: unset !important;
  text-decoration: none !important
}