body {
  font-size: 25px;
  font-family: 'Cabin Sketch', cursive;
}

.no-decorations {
  color: unset !important;
  text-decoration: none !important
}

i {
  font-size: 3rem;
  margin: 10px;
  padding: 10px;
}

.tags {
  font-size: 35px;
  font-family: 'Cabin Sketch', cursive;
  margin: 30px 0px 30px 0px;
}

.footer-quote {
  display: inline;
}

@media only screen and (max-width: 900px) {
  .footer-quote {
    display: none;
  }
  #footer {
    justify-content: center!important;
    padding-left: 0px;
  }
}

.grow {
  transition: all .1s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
  border: none;
}

.navbar a {
  opacity: 0.6;
}

.navbar a:hover {
  opacity: 1;
}

.uppery {
  z-index: 1;
}

.inputte {
  border: 2px solid rgba(51, 51, 51, 0.25);
  border-radius: 255px 55px 225px 55px/35px 225px 55px 255px;
  margin: auto;
  padding: 10px;
}

.inputte:focus {
  outline-offset: -2px;
  color: #555;
  background-color: #fff;
  border-color: #333;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.25);
}

#spinner {
  transform: scale(0.7);
  display: none;
}

#tick {
  display: none;
}